html,
body,
#mainContainer,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#mainContainer{
  display: flex;
  flex-direction: row;
}

#leftContainer{
  border: 5px dashed pink;
  display: flex;
  flex-direction: column;
}

form{
  width: 500px;
  display: flex;
  flex-direction: column;
}

#formRadioButtons{
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#viewDiv{
    height: 80%;
    width: 80%;
    border: 5px solid green
}

#testDiv{
    border: 10px solid black;
}

#form{
  border: 10px solid purple;
  width: 300px;
  height: 300px;
}

#root{
  border: 10px solid blue;
  width: 300px;
  height: 300px;
}